*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}

.container{
	max-width:1100px;
	margin:0 auto;
}

.row{
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
}


[class*="col-"]{
	flex:0 0 auto;
}


/* special col */
.col{
	flex-grow: 1;
	flex-basis:0;
	max-width:100%;
}



.col-xs-1{
	flex-basis: calc((100% / 12) * 1);
	max-width: calc((100% / 12) * 1);
}

.col-xs-2{
	flex-basis: calc((100% / 12) * 2);
	flex-basis: calc((100% / 12) * 2);
}

.col-xs-3{
	flex-basis: calc((100% / 12) * 3);
	flex-basis: calc((100% / 12) * 3);
}

.col-xs-4{
	flex-basis: calc((100% / 12) * 4);
	flex-basis: calc((100% / 12) * 4);
}

.col-xs-5{
	flex-basis: calc((100% / 12) * 5);
	flex-basis: calc((100% / 12) * 5);
}

.col-xs-6{
	flex-basis: calc((100% / 12) * 6);
	flex-basis: calc((100% / 12) * 6);
}

.col-xs-7{
	flex-basis: calc((100% / 12) * 7);
	flex-basis: calc((100% / 12) * 7);
}

.col-xs-8{
	flex-basis: calc((100% / 12) * 8);
	flex-basis: calc((100% / 12) * 8);
}

.col-xs-9{
	flex-basis: calc((100% / 12) * 9);
	flex-basis: calc((100% / 12) * 9);
}

.col-xs-10{
	flex-basis: calc((100% / 12) * 10);
	flex-basis: calc((100% / 12) * 10);
}

.col-xs-11{
	flex-basis: calc((100% / 12) * 11);
	flex-basis: calc((100% / 12) * 11);
}

.col-xs-12{
	flex-basis: calc((100% / 12) * 12);
	flex-basis: calc((100% / 12) * 12);
}


/* offset */



.col-offset-1{
	margin-left: calc((100% / 12) * 1);
}

.col-offset-2{
	margin-left: calc((100% / 12) * 2);
}

.col-offset-3{
	margin-left: calc((100% / 12) * 3);
}

.col-offset-4{
	margin-left: calc((100% / 12) * 4);
}

.col-offset-5{
	margin-left: calc((100% / 12) * 5);
}

.col-offset-6{
	margin-left: calc((100% / 12) * 6);
}

.col-offset-7{
	margin-left: calc((100% / 12) * 7);
}

.col-offset-8{
	margin-left: calc((100% / 12) * 8);
}

.col-offset-9{
	margin-left: calc((100% / 12) * 9);
}

.col-offset-10{
	margin-left: calc((100% / 12) * 10);
}

.col-offset-11{
	margin-left: calc((100% / 12) * 11);
}

.col-offset-12{
	margin-left: calc((100% / 12) * 12);
}

/* /offset */


