body{
	overflow: hidden;
	font-family: 'Press Start 2P', cursive;
}

section#sky{
	background: url(../img/sky.jpg) bottom / cover;
	padding:6rem;
}

section#sky h1{
	color:rgb(199, 196, 0);
	margin-bottom:3rem;
	font-size: 2rem;
	text-transform: uppercase;
}

section#sky a.start-btn{
	text-decoration: none;
	text-transform: uppercase;
	background-color: red;
	border-radius:20px;
	padding:.5rem 1rem;
	font-size:.8em;
	color:white;
}

section#sky div.box{
	height:100px;
}


section#sky div.bricks-wall div.row div{
	border-radius:2px;
	background-color: rgb(95, 63, 19);
	border: 1px solid rgb(65, 42, 8);
	height: 16px;
}


section#sky div.box.mistery i{
	color:#c0c0c0;
	vertical-align: middle;
}


section#sky div.box.mistery{
	height:95px;
	line-height: 95px;
	text-align: center;
	box-shadow: inset 0 0 5px 1px #585858;
	background-color: rgb(199, 196, 0);
}


section#ground .grass{
	padding:1rem;
	background: rgb(16,113,0);
	background: linear-gradient(180deg, rgba(16,113,0,1) 0%, rgba(13,121,9,0.44) 21%, rgba(0,255,17,1) 92%, rgba(61,166,61,1) 100%);
}

section#ground .terrain{
	padding:6rem;
	background-color: rgb(194, 140, 70);
	background: linear-gradient(180deg, rgba(194, 140, 70) 0%, rgb(218, 136, 28) 21%, rgb(240, 147, 26) 92%, rgb(163, 93, 0) 100%);
}




